.card {
  margin-bottom: 2rem;
  background-color: rgb(247, 247, 247);
  height: 100%;
  width: 100%;
}

.card-image {
  height: 350px;
  width: 300px;
  text-align: center;
  padding: 2;
}

.card-text-body {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.card-title {
  font-weight: 900;
  flex-grow: 1;
  text-align: center;
  padding-top: 10px;
}
.card-description {
  font-size: 15px;
  overflow: hidden;
  height: 135px;
}

.view-btn {
  width: 90%;
  margin-top: 20px;
}
