.profile-title {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 30px;
  color: white;
}

.label {
  font-size: 18px;
}

.btn {
  margin-top: 15px;
  margin-bottom: 40px;
}

.button-delete {
  margin-top: 5rem;
}

.fav-movies {
  margin-top: 25px;
}
